MYSQL_DATABASE=givemeticket
MYSQL_USER=givemeticket
MYSQL_PASSWORD=givemeticket
MYSQL_ROOT_PASSWORD=root

BACKEND_PORT=18080
PAYMENT_MOCK_PORT=18081
MYSQL_PORT=3307
REDIS_PORT=6379
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001

DB_POOL_SIZE=10

PAYMENT_DELAY_MS=0
PAYMENT_JITTER_MS=0
PAYMENT_ERROR_RATE=0.0
PAYMENT_TIMEOUT_RATE=0.0
PAYMENT_DECLINE_RATE=0.0
PAYMENT_CANCEL_ERROR_RATE=0.0

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
